# Global
PORT=8080
JWT_SECRET=supersecretjwtkey_auth
MONGO_URI=mongodb://localhost:27017/hospital_db

# Microservices URLs for API Gateway
AUTH_SERVICE_URL=http://localhost:5001
USER_SERVICE_URL=http://localhost:5002
APPOINTMENT_SERVICE_URL=http://localhost:5003
PRESCRIPTION_SERVICE_URL=http://localhost:5004

# Email SMTP Config (User Service)
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=your_ethereal_user
SMTP_PASS=your_ethereal_password

# Frontend URL (For Email Invites)
FRONTEND_URL=http://localhost:3000
